{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<div class="row">
    <div class="col-sm-12 col-md-6 test">
        <div class="row">
            <a href="{{ path('app_login') }}" class="col-6 text-center enregistrerLeft">Me connecter</a>
            <a href="{{ path('register') }}" class="col-6 text-center noSelect enregistrerRight">M'enregistrer</a>
        </div>
    </div>
</div>
<div class="row">
{{ form_start(registrationForm, {"attr":{class:"col-sm-12 col-md-6 mt-md-5 registerForm"}}) }}
    <div class="text-center">  
        <h2 class="">Créer un compte</h2>
    </div>

    {{ form_label(registrationForm.pseudo) }}
    {{ form_widget(registrationForm.pseudo,{"attr":{ placeholder:'Pseudo', type:'text', class:'form-control'}}) }}
 
    {{ form_label(registrationForm.nom) }}
    {{ form_widget(registrationForm.nom,{"attr":{ placeholder:'Nom', type:'text', class:'form-control'}}) }}

    {{ form_label(registrationForm.prenom) }}
    {{ form_widget(registrationForm.prenom,{"attr":{ placeholder:'Prénom', class:'form-control'}}) }}


    {{ form_row(registrationForm.telephone,{"attr":{ placeholder:'numéro de téléphone',type : 'tel', class:'form-control'}})
    }}

    {{ form_row(registrationForm.email,{"attr":{placeholder:'votre-email@email.fr',type:'email', class:'form-control'}})
    }}

    {{ form_row(registrationForm.plainPassword,{"attr":{placeholder:'●●●●●●●●',type:'password',class:'form-control'}})
    }}
<div class="form-check">
            {{ form_widget(registrationForm.agreeTerms,{"attr":{class:'form-input-check'}}) }}
            {{ form_label(registrationForm.agreeTerms) }}
</div>
<div class="col-sm-12 col-md-4 m-auto">
        {{ form_row(registrationForm.Enregistrer,{"attr":{class:'btn btn-dark form-control'}})
        }}
</div>
<div class='row mt-5'>
    <a href="{{ path('app_forgot_password_request') }}" class='mx-auto my-2'>Mot de passe oublié ?</a>
</div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
