{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="col-12 p-0 m-0">
    <div class="form m-sm-0 m-md-auto ">
    
{{ form_start(userForm) }}
        <h2 class="text-center">Editer le compte de l'utilisateur</h2>
        <div class="form-group col-sm-12 col-md-6 mx-auto">
            {{ form_row(userForm.pseudo,{"attr":{ placeholder:'', class:'form-control'}}) }}
        </div>
        <div class="form-group col-sm-12 col-md-6 mx-auto">
            {{ form_row(userForm.nom,{"attr":{ placeholder:'DBZ, One Piece, ...', class:'form-control'}}) }}
        </div>
        <div class="form-group col-sm-12 col-md-6 mx-auto">
            {{ form_row(userForm.prenom,{"attr":{ placeholder:'', class:'form-control'}}) }}
        </div>
        <div class="form-group col-sm-12 col-md-6 mx-auto">
            {{ form_row(userForm.telephone,{"attr":{ placeholder:'', class:'form-control'}}) }}
        </div>
        <div class="form-group col-sm-12 col-md-6 mx-auto"> {{ form_row(userForm.modifier,{"attr":{ label:'Enregistrer', class:'btn btn-info m-auto col-12 mb-sm-5 mb-md-0'}}) }}
        <a href="{{path('admin_aff_user')}}" class='btn btn-dark m-auto col-sm-12 mt-md-3 mt-sm-5'>Retour</a>
        </div>
        
{{ form_end(userForm) }}
    </div>
</div>

{% endblock %}