{% extends 'base.html.twig' %}

{% block title %}Insciption solo{% endblock %}

{% block body %}
    {% for messages in app.flashes() %}
        {% for message in messages %}
        <div class="alert alert-success text-center" role="alert">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endfor %}
{# Table #}
    <section class="content mt-0">
        <div class="row">
            <div class="col-12">
                    <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                        Inscriptions au concours solo
                        </h4>
                    </div>
                    {# table header end #}
                    <div class="card-body table-responsive">
                        <table id="tableUser" class="table table-bordered table-hover" >
                        
                            <thead class="table-dark">
                                <tr>
                                    <th>Utilisateur</td>
                                    <th>Email</th>
                                    <th>Nom du personnage</th>
                                    <th>Categorie</th>
                                    <th>Univers</th>
                                    <th>Type de média</th>
                                    <th>Lancement du média</th>
                                    <th>Aide sur scène</th>
                                    <th>Accessoires à déposer</th>
                                    <th>Description des accessoires</th>
                                    <th>Autres informations</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                            {# table libelle end #}
                                {% for inscription in inscriptionsSolo %}
                                <tr>
                                    <td>{{ inscription.user.pseudo }}</td>
                                    <td>{{ inscription.user.email }}</td>
                                    <td>{{ inscription.NomPersoSolo }}</td>
                                    <td>{{ inscription.categorie.libelleCategorie }}</td>
                                    <td>{{ inscription.UniverSolo }}</td>
                                    <td>{% if inscription.MediaSolo == 1 %}
            Musique
            {% else %}
            Vidéo
            {% endif %}</td>
                                    <td>{% if inscription.envoiMediaSolo == 1 %}
            Avant l'entrée sur scène
            {% else %}
            Après l'entrée sur scène
            {% endif %}</td>
                                    <td>{% if inscription.AideSolo == 1 %}
            Oui
            {% else %}
            Non
            {% endif %}</td>
                                    <td>{% if inscription.AccessoireSolo == 1 %}
            Oui
            {% else %}
            Non
            {% endif %}</td>
                                    <td>{{ inscription.DescriptionAccessoireSolo }}</td>
                                    <td>{{ inscription.InfosSolo }}</td>

                                    <td><a href="{{path('admin_inscription_solo_edit',{'id':inscription.id})}}" class="btn btn-info"><i class="fas fa-edit"></i></a>

                                    <form method="POST" class='form-sup' action="{{path('admin_inscription_solo_delete',{'id':inscription.id})}}" onSubmit ="return confirm('Confirmer la suppression ?')"  >
                                        <input type="hidden" name="_method" value="SUPSOLO">
                                        <input type="hidden" name="_token" value="{{csrf_token('SUPSOLO' ~ inscription.id)}}">
                                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                    </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>

                            <tfoot class="table-dark">
                                <tr>
                                    <th>Utilisateur</td>
                                    <th>Email</th>
                                    <th>Nom du personnage</th>
                                    <th>Categorie</th>
                                    <th>Univers</th>
                                    <th>Type de média</th>
                                    <th>Lancement du média</th>
                                    <th>Aide sur scène</th>
                                    <th>Accessoires à déposer</th>
                                    <th>Description des accessoires</th>
                                    <th>Autres informations</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>

                        </table>
                    {# card-body #}
                    </div>
                {# card #}
                </div>
            {# col-12 #}
            </div>
        {# row #}
        </div>
</section>

{% endblock %}