{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% for messages in app.flashes() %}
        {% for message in messages %}
        <div class="alert alert-success text-center" role="alert">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endfor %}
{# Table #}
    <section class="content mt-0">
        <div class="row">
            <div class="col-12">
                    <div class="card">
                    <div class="card-header">
                    <h4 class="card-title">
                    Comptes utilisateurs
                    </h4>
                    </div>
                    {# table header end #}
                    <div class="card-body">
                        <table id="tableUser" class="table table-bordered table-hover" >

                            <thead class="table-dark">
                                <tr>
                                    <th>Email</th>
                                    <th>Pseudo</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Téléphone</th>
                                    <th>Date compte</th>
                                    <th>Date modification</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                            {# table libelle end #}
                                {% for user in users %}
                                <tr>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.pseudo }}</td>
                                    <td>{{ user.nom }}</td>
                                    <td>{{ user.prenom }}</td>
                                    <td>{{ user.telephone }}</td>
                                    <td>{{ user.createdAt | date('d/m/Y',"Europe/Paris")}}</td>
                                    <td>{{ user.updatedAt | date('d/m/Y',"Europe/Paris")}}</td>

                                    <td><a href="{{path('admin_user_edit',{'id':user.id})}}" class="btn btn-info  edit"><i class="fas fa-edit"></i></a>
                                    <form method="POST" class='col-sm-12 col-md-4 m-auto p-sm-0 btn form-sup' action="{{path('admin_user_delete',{'id':user.id})}}"
                                    onSubmit ="return confirm('Confirmer la suppression ?')" style="display:inline-block" >
                                    <input type="hidden" name="_method" value="SUP">
                                    <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ user.id)}}">
                                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></td>
                                </tr>
                                {% endfor %}
                            </tbody>

                            <tfoot>
                                <tr>
                                    <th>Email</td>
                                    <th>Pseudo</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Téléphone</th>
                                    <th>Date compte</th>
                                    <th>Date modification</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>

                        </table>
                    {# card-body #}
                    </div>
                {# card #}
                </div>
            {# col-12 #}
            </div>
        {# row #}
        </div>
</section>


{% endblock %}