 {% extends 'base.html.twig' %}

{% block title %}Inscription Solo{% endblock %}

{% block body %}

{% if infos %}

<div class='row'>
<div class="col-sm-12 col-md-6 useraccount m-auto p-3">
    <div class="row">
        <form method="POST" class='col-2 ml-auto btn' action="{{path('inscription_solo_delete',{'id':infos.id})}}"
                    onSubmit ="return confirm('Confirmer la suppression ?')" style="display:inline-block" >
                        <input type="hidden" name="_method" value="SUPUSERSOLO">
                            <input type="hidden" name="_token" value="{{csrf_token('SUPUSERSOLO' ~ infos.id)}}">
                                                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i>
                                                    </button>
        </form>
    </div>
    <div class="row text-center">
        <legend>Mon inscription en solo</legend>
    </div>

        <div class="row pb-3">
            <div class="col-sm-12 col-md-4">Nom du personnage </div><span class="col-sm-12 col-md-4">{{ infos.NomPersoSolo }}</span>
        </div>
        <div class="row pb-3">
            <div class="col-sm-12 col-md-2">Univers</div> <span class="col-sm-12 col-md-4 mb-3">{{ infos.UniverSolo }}</span><div class="col-sm-12 col-md-2">Categorie</div> <span class="col-sm-12 col-md-4">{{ infos.categorie.libelleCategorie }}</span>
        </div> 
        <div class="row pb-3">
            <div class="col-sm-12 col-md-2">Type de média</div> <span class="col-sm-12 col-md-4 mb-3">{% if infos.MediaSolo == 1 %}
            Musique
            {% else %}
            Vidéo
            {% endif %}</span>
            <div class="col-sm-12 col-md-2">Lancement du média</div> <span class="col-sm-12 col-md-4">{% if infos.envoiMediaSolo == 1 %}
            Avant l'entrée sur scène
            {% else %}
            Après l'entrée sur scène
            {% endif %}</span>
        </div>
        <div class="row pb-3">
            <div class="col-sm-12 col-md-2">Aide pour monter sur scène</div><span class="col-sm-12 col-md-4">{% if infos.AideSolo == 1 %}
            Oui
            {% else %}
            Non
            {% endif %}</span>
        </div>
        <div class="row pb-3">
            <div class="col-sm-12 col-md-2">Accessoires à déposer sur scène</div> <span class="col-sm-12 col-md-4 mb-3">{% if infos.AccessoireSolo == 1 %}
            Oui
            {% else %}
            Non
            {% endif %}</span>
            <div class="col-sm-12 col-md-2">Description des accessoires</div> <span class="col-sm-12 col-md-4">{{ infos.DescriptionAccessoireSolo }}</span>
        </div> 
        <div class="row pb-5 mb-3">
            <div class="col-sm-12 col-md-2">Autres informations </div><span class="col-sm-12 col-md-4">{{ infos.InfosSolo }}</span>
        </div>
        <div class="row mb-3">
            <a href="{{path('inscription_solo_edit',{'id':infos.id})}}" class="btn btn-dark col-4 m-auto">Editer</a>
        </div>

</div>
{% else %}

<div class="row">
    <a href="{{path('inscription_solo_ajout')}}" class="btn col-sm-12 col-md-4 m-auto btnInscriptionPrincipale">M'inscrire au concours solo</a>
</div>

<div class="row">
    <a href="{{path('inscription_groupe_ajout')}}" class="btn col-sm-10 col-md-3 m-auto btnInscription">M'inscrire au concours de groupe</a>
</div>

{% endif %}
{% endblock %}