{{ form_start(form) }}
    <div class="form-row mb-3">
        <div class="col-2">{{ form_label(form) }}</div>
        {{ form_widget(form, {"attr":{
            class:"col-sm-12 col-md-8 form-control"}}) }}
    </div>
    <div class="form-row">
        <a href="{{ path('categorie_index') }}" class="btn btn-dark m-auto col-sm-12 col-md-5">Retour</a>
        <button class="btn btn-primary m-auto col-sm-12 col-md-5">{{ button_label|default('Créer') }}</button>
    </div>
{{ form_end(form) }}
